@model QuestionMark.Web.Models.ViewModel
@{
    ViewData["Title"] = "Day Difference Calculator";
}

<div class="text-center">
    <h1 class="display-4">Day Difference Calculator</h1>

    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {
        <div class="datepicker-wrapper">
            <span>From Date</span>
            @Html.EditorFor(model => model.FromDate, new  { htmlAttributes = new { @class = "datepicker", autocomplete="off" }})
            @*could have gone for control data bind validation*@
        </div>
        <div class="datepicker-wrapper">
            <span>To Date</span>
            @Html.EditorFor(model => model.ToDate, new  { htmlAttributes = new { @class = "datepicker", autocomplete="off" }})
            @*could have gone for control data bind validation*@
        </div>
        <input type="submit" value="Submit"/>
        <div class="error">
            @Html.DisplayFor(model => model.Errors)
        </div>
        <div class="success">
            @Html.DisplayFor(model => model.FormattedResult)
        </div>
        
    }

</div>

@section scripts {
    <script src="lib/jquery-ui-1.13.1.custom/jquery-ui.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy"
            });
        });
    </script>
}
